<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="icon" type="image/x-xicon" href="{{ site.baseurl }}/favicon.ico">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=OCR+B&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="container">
    {{ content }}
    <!-- <script src="{{ site.baseurl }}/script.js"></script> -->
  <div class="mini-nav">
    <a href="{{ site.baseurl }}/index.html">ランダム文字列生成</a>
    <span class="mini-sep">・</span>
    <a href="{{ site.baseurl }}/count.html">文字カウンタ</a>
    <span class="mini-sep">・</span>
    <a href="{{ site.baseurl }}/mywork.html">制作物</a>
    <span class="mini-sep">・</span>
    <a href="{{ site.baseurl }}/links.html">リンク集</a>
  </div>
  </div>
</body>
</html>